
body {
  height: 1200px;
  text-align: center;
 background-image: url("https://www.wallpapertip.com/wmimgs/167-1676208_pattern-abstract-pastel-background.jpg") ; 
  background-repeat: no-repeat;
  background-size: cover;
}

.input{
  background-color: rgb(229, 241, 239);
  border: 0;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  font-size: 20px;
  border-radius: 10px;
}
.input::placeholder{
  color:black;
}
.input:focus, button:focus{
  outline: none;
}
.List button{
  height: 50px;
  width: 75px;
  border: 0;
  background-color: rgb(229, 241, 239);
  cursor: pointer;
  font-weight: bolder;
  color: black;
  border-radius: 10px

}
.NewListItem{
  background-color: rgba(166, 220, 236, 0.808);
  min-height: 900px;
  width: 750px;
  margin: 40px auto;
  font-style: italic;
  border-radius: 15px;
  box-shadow: 2px 7px 18px -12px;

}
 .Navbar{
 
   display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 2px 10px 18px -12px; color: rgb(10, 10, 10);
  

 }
 .Navbar:hover{
  
 }
 h5{
   color:rgb(5, 7, 7)
 }
 .HomeImg{
  width: 800px;
  height: 500px;
  padding: 40px;
  margin-top: 30px;
  text-align: center;
}
.New-list{
  width: 400px;
  height: 50px;
  margin: 20px auto;
  border-radius: 10px;
  background-color: rgb(241, 242, 245);
  color:rgb(132, 148, 240)
}
.New-list h3{
  padding: 10px;
  position: relative;
}
.New-list input{
  background-color: transparent;
  border: 0;
  color: black;
  font-size: 18px
}
.New-list input:focus{
  outline: none;
}

.delete-btn{
  /* position: absolute; */
  /* display: flex;
  align-content: flex-end;
  right: 10px; */
  cursor: pointer;
  margin: -35px 0 200px 350px;
}
.faicons{
  margin: 0 5px;
  font-size: 15px;
  display: flex;
  align-self: flex-end;
}
.icon-btn{
  height: 30px;
}

.all-todo{
  background-color: rgba(194, 194, 194, 0.637);
  min-height: 900px;
  width: 1250px;
  margin: 40px auto;
  font-style: italic;
  border-radius: 15px;
  box-shadow: 2px 7px 18px -12px;
}










 @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  } 
} */ 
